* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F3F5F8;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 540px;
  background-color: #FFFFFF;
  border: 1px solid #E0E4EA;
  border-radius: 12px;
  padding: 48px;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 8px;
}

.welcome-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.welcome-div h1 {
  font-size: 24px;
  color: #0E121B;
}

.welcome-div p {
  font-size: 14px;
  color: #0E121B;
}

form {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid #E0E4EA;
  padding-bottom: 16px;
}

form .email {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

form .email label {
  font-size: 14px;
  color: #0E121B;
}

form .email input {
  padding: 12px;
  border: 1px solid #E0E4EA;
  border-radius: 8px;
  padding: 12px 16px;
  background-color: #FFFFFF;
}

form .email input::placeholder {
  color: #717784;
  font-size: 14px;
}

form .email input:focus {
  outline: none;
}

form .password {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

form .password .password-label-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .password .password-label-div label {
  font-size: 14px;
  font-weight: 500;
  color: #0E121B;
}

form .password .password-label-div a {
  font-size: 12px;
  color: #525866;
}

form .password .password-input-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border: 1px solid #E0E4EA;
  border-radius: 8px;
  padding-right: 12px;
}

form .password .password-input-div input {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 12px;
}

form .password .password-input-div input:focus {
  outline: none;
}

form .password .password-input-div svg {
  cursor: pointer;
}

form button {
  padding: 12px 16px  ;
  background-color: #335CFF;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.google {
  padding-top: 24px;
  border-bottom: 1px solid #E0E4EA;
  padding-bottom: 16px;
}

.google p {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 16px;
  font-size: 14px;
  color: #525866;
}

.google button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px 0;
  border: 1px solid #CACFD8;
  border-radius: 12px;
  background: none;
}

.google button p {
  font-size: 14px;
  color: #0E121B;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 16px;
}

.sign-up p {
  font-size: 14px;
  color: #525866;
}

.sign-up a {
  font-size: 14px;
  color: #0E121B;
}